
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>three.js canvas - geometry - cube</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		
		<style type="text/css">
			body {
				background-color: #f0f0f0;
				margin: 0px;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div class="main_scene">
			<div #rendererContainer></div>
				<div class="shapes-group">
					<div id="accordion">
					<div class="card">
					<div class="card-header" id="main">
					  <h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMain" aria-expanded="false" aria-controls="collapseThree">
						  Tools - Drawing Specific
						</button>
					  </h5>
					</div>
					<div id="collapseMain" class="collapse" aria-labelledby="main" data-parent="#accordion">
					  <div class="card-body">
					   <div class="card">
						<div class="card-header" id="sub">
						  <p class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSubContent" aria-expanded="false" aria-controls="collapseThree" (click)='rectangel()'>
							  Rectlangle
							</button>
						  </p>
						</div>
					<div id="collapseSubContent" class="collapse" aria-labelledby="sub" data-parent="#accordion">
					  <div class="card-body">
					   <!--specifications-->
						<div>
						<label class="labels__shapes">Width:</label>
						<input type="text" class="input__shapes" (input)="rectangel($event.target.value,undefined,undefined)"/>
						<label class="labels__shapes">Height:</label>
						<input type="text" class="input__shapes"(input)="rectangel(undefined,$event.target.value)"/>
						<label class="labels__shapes" (input)="rectangel(undefined,undefined,$event.target.value)">depth:</label>
						<input type="text" class="input__shapes"/>
						
						</div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
    </div>
  </div>
</div>
<!-- <label><p>Drag shapes</p></label> -->
  
     <!-- <input type="image" src="./src/assets/images/img1.png" alt="Submit" class="images_shape" (click)="cube()"> -->
  
 
    <!-- <input type="image" src="./src/assets/images/img2.png" alt="Submit" class="images_shape" (click)="square()"> -->
 
  
   <!-- <input type="image" src="./src/assets/images/img3.png" alt="Submit" class="images_shape" (click)="shapeGeometry()"> -->
 

   <!-- <input type="image" src="./src/assets/images/img4.png" alt="Submit" class="images_shape" (click)="spear()"> -->


   <!-- <input type="image" src="./src/assets/images/img5.png" alt="Submit" class="images_shape" (click)="clear()"> -->
 
  </div>


	</body>
</html>